body {
	background-color: #f5f5f5;
}

#listOfVideos {
	background-color: #fff;
}

.searchResultItem {
    margin-bottom: "0px";
	padding: 5px;

}
.searchResultItem:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    margin-bottom: "0px";


}